In [1]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (1.2.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectPercentile
import pandas as pd

##### Train the model from the Bonus Assignment

In [3]:
%pip install xgboost

Requirement already satisfied: xgboost in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (1.7.3)
Requirement already satisfied: numpy in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from xgboost) (1.24.1)
Requirement already satisfied: scipy in c:\users\ofeks\onedrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages (from xgboost) (1.10.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [4]:
import xgboost as xgb

def train_bonus_ass_model():
    """
    
    """
    df = pd.read_csv("../BonusAssignment/text_training.csv", usecols=list(range(1,2002)))

    # separate the features and target variable
    features = df.iloc[:, 1:-1] # all columns except the last one (rating)
    labels = df.iloc[:, -1] # last column (rating)

    selector = SelectPercentile(percentile=10)
    x = selector.fit_transform(features, labels)
    selected_features = selector.get_feature_names_out()

    x_train, x_test, y_train, y_test = train_test_split(x, labels, test_size=0.2, random_state=1)

    xgb_bonus_clf = xgb.XGBClassifier(max_depth=4, seed=2)
    xgb_bonus_clf.fit(x_train, y_train)
    # y_pred = xgb_bonus_clf.predict(x_test)
    # print("Accuracy:", accuracy_score(y_test, y_pred))


    # x = features[selected_features]
    # y_bonus_pred = xgb_bonus_clf.predict(x)
    return xgb_bonus_clf, selected_features

In [5]:
def bonus_ass_rating_prediction(table_path, trained_model, select_features):
    """
        Receives the path to an existing table and returns the predicted raiting
        model is as explained in the bonus assignment.

        Assumptions:
        1. Both tables contain an id column
        2. rating Column does not appear in the table
    """    
    df = pd.read_csv(table_path).iloc[:, 1:]
    selected = df[select_features]
    return trained_model.predict(selected)

In [8]:
trained_model, selected_features = train_bonus_ass_model()
y_pred_rev_training =   bonus_ass_rating_prediction("Documents/reviews_training.csv", trained_model, selected_features)
y_pred_rev_rollout =    bonus_ass_rating_prediction("Documents/reviews_rollout.csv", trained_model, selected_features)

c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [1208 1527] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

##### prediction results with the data of the bonus assignment

In [7]:
print(f"The Sentiment predicted for the Bonus Assignment reviews table is:\n {y_bonus_pred}\n")
print(f"The vector shape is: {y_bonus_pred.shape}")

NameError: name 'y_bonus_pred' is not defined

##### Lets use the model trained on the Bonus assignment data, to create labels for reviews training.

In [ ]:
#df_ffp_train = pd.read_csv("../Documents/ffp_train.csv")
df_reviews_train = pd.read_csv("Documents/reviews_training.csv")
#df_reviews_train  = pd.read_csv("../Refference/reviews_training.csv")
df_reviews_train

,ID,night,destroy,bottom,think,salmon,frequent,awesom,mill,suppli,...,maker,whatev,substanc,factor,per,jug,remind,cooki,prevent,thing
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,93,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,95,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,29938,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1857,29948,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1858,29969,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1859,29980,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1860,29984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
cleaned_df_reviews_train = df_reviews_train.iloc[:, 1:-1]
cleaned_df_reviews_train

,night,destroy,bottom,think,salmon,frequent,awesom,mill,suppli,discov,...,appetit,maker,whatev,substanc,factor,per,jug,remind,cooki,prevent
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x = cleaned_df_reviews_train[support]
y_pred = xgb_bonus_clf.predict(x)

In [ ]:
cleaned_df_reviews_train["rating"] = y_pred
df_reviews_train_predicted = cleaned_df_reviews_train

C:\Users\ofeks\AppData\Local\Temp\ipykernel_12060\1049275628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_reviews_train["rating"] = y_pred

##### Train a new model on the predicted reviews_training

In [ ]:
df_reviews_train_predicted

,night,destroy,bottom,think,salmon,frequent,awesom,mill,suppli,discov,...,maker,whatev,substanc,factor,per,jug,remind,cooki,prevent,rating
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
features = df_reviews_train_predicted.iloc[:, :-1]
labels =   df_reviews_train_predicted.iloc[:, -1]

# Sanity check
print(features.shape)
print(labels.shape)
print(f"{features.shape[1]} + 1 (rating col) == {df_reviews_train_predicted.shape[1]}")
print(f"{'-'*20}\nSanity check: ", features.shape[1] + 1 == df_reviews_train_predicted.shape[1])

(1861, 1999)
(1861,)
1999 + 1 (rating col) == 2000
--------------------
Sanity check:  True

In [ ]:
# Feature selection

selector = SelectPercentile(percentile=10)
selector_obj = selector.fit_transform(features, labels)
selected_features = selector.get_feature_names_out()

c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [ 659  696  913  973 1561] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
c:\Users\ofeks\OneDrive\תואר_שני\שנה ב\סמסטר א\נושאים מתקדמים במדעי הנתונים למנהל עסקים\temp_code\venv\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(selector_obj, labels, test_size=0.2, random_state=1)

xgb_clf = xgb.XGBClassifier(max_depth=4, seed=2)
xgb_clf.fit(x_train, y_train)
y_pred = xgb_clf.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9276139410187667

#### Prediction on reviews_rollout.csv

In [ ]:
df_reviews_rollout = pd.read_csv("Documents/reviews_rollout.csv")
# df_reviews_rollout =  df_reviews_rollout.iloc[:,1:]
df_reviews_rollout

,ID,night,destroy,bottom,think,salmon,frequent,awesom,mill,suppli,...,maker,whatev,substanc,factor,per,jug,remind,cooki,prevent,thing
0,30012,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,30021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30043,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,30053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,30066,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,49888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1135,49916,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1136,49938,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1137,49947,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1138,49989,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
features = df_reviews_rollout.iloc[:,1:]

In [ ]:
features = df_reviews_rollout.iloc[:,1:]
y_rollout_pred = xgb_clf.predict(features[selected_features])
y_rollout_pred

df_reviews_rollout["rating"] = y_rollout_pred
df_reviews_rollout

,ID,night,destroy,bottom,think,salmon,frequent,awesom,mill,suppli,...,whatev,substanc,factor,per,jug,remind,cooki,prevent,thing,rating
0,30012,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,30021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30043,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,30053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,30066,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,49888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1135,49916,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1136,49938,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1137,49947,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1138,49989,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Lets merge the reviews data to the ffp data

In [ ]:
df_ffp_train = pd.read_csv("Documents/ffp_train.csv")
df_ffp_train
# df_ffp_train = pd.read_csv("Documents/ffp_rollout_X.csv")
# df_ffp_train

,ID,CUSTOMER_GRADE,STATUS_PANTINUM,STATUS_GOLD,STATUS_SILVER,NUM_DEAL,LAST_DEAL,ADVANCE_PURCHASE,FARE_L_Y1,FARE_L_Y2,...,POINTS_L_Y1,POINTS_L_Y2,POINTS_L_Y3,POINTS_L_Y4,POINTS_L_Y5,COUPON_FLAG,CANCEL_FLAG,CREDIT_FLAG,RELATED_FLAG,BUYER_FLAG
0,1,11.545711,0,0,0,3,29.3,24,82.7,92.7,...,71.3,60.7,98.1,81.6,78.6,0,0,0,0,0
1,2,9.493459,0,0,0,5,26.7,27,120.7,112.0,...,126.3,112.5,104.6,110.9,137.3,0,0,1,0,0
2,3,3.882457,0,0,0,4,26.7,9,97.3,92.0,...,107.7,120.7,62.5,63.9,92.9,0,0,0,0,0
3,4,9.511699,0,0,0,2,61.3,24,123.3,130.7,...,129.5,132.1,135.1,104.1,118.2,0,0,0,0,0
4,5,14.798792,0,0,0,4,37.3,20,136.0,135.3,...,145.7,124.5,122.7,140.1,130.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,8.993560,0,0,0,6,16.0,25,98.7,92.7,...,57.2,89.1,83.5,56.1,79.8,0,0,0,0,0
29996,29997,9.809759,0,1,0,2,117.3,20,228.0,233.3,...,178.9,215.5,214.1,216.7,232.6,0,0,0,0,0
29997,29998,11.226843,0,0,0,4,24.0,21,84.7,87.3,...,53.0,83.4,81.3,73.9,90.6,0,0,0,0,0
29998,29999,12.926248,0,0,0,3,42.7,20,121.3,126.7,...,98.9,80.0,89.0,121.5,158.5,0,0,0,0,0
29999,30000,14.157538,0,0,0,6,29.3,22,167.3,166.0,...,150.3,127.7,126.1,135.1,113.7,1,0,0,0,1

In [ ]:
pd.merge(left=df_ffp_train, right=df_reviews_rollout, on=["ID","ID"])

Empty DataFrame
Columns: [ID, CUSTOMER_GRADE, STATUS_PANTINUM, STATUS_GOLD, STATUS_SILVER, NUM_DEAL, LAST_DEAL, ADVANCE_PURCHASE, FARE_L_Y1, FARE_L_Y2, FARE_L_Y3, FARE_L_Y4, FARE_L_Y5, POINTS_L_Y1, POINTS_L_Y2, POINTS_L_Y3, POINTS_L_Y4, POINTS_L_Y5, COUPON_FLAG, CANCEL_FLAG, CREDIT_FLAG, RELATED_FLAG, BUYER_FLAG, night, destroy, bottom, think, salmon, frequent, awesom, mill, suppli, discov, wors, ladi, werent, aftertast, specif, dens, consist, cheapest, freezer, pomegran, tast, each, wed, calcium, hint, tea, throw, metal, young, sleep, free, nutriti, tomato, peppermint, terribl, again, insid, grass, did, swiss, moldi, evo, abl, choke, specialti, greas, dairi, eye, mouth, weird, next, teeth, cheddar, youv, gone, matter, intend, class, busi, meant, bar, charg, tear, wast, lipton, gloria, afford, grown, mail, three, guarante, byproduct, smooth, carbon, problem, matcha, gold, ...]
Index: []

[0 rows x 2024 columns]